name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy website files to EC2 (exclude git folders)
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        source: "./*"
        target: "/usr/share/nginx/html/"
        overwrite: true
        rm: false
        strip_components: 0
        exclude: |
          .git/**
          .github/**
          .gitignore
          README.md

    - name: Restart nginx on EC2
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        script: |
          sudo systemctl restart nginx
          echo "Deployment completed!"
