name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy files to EC2 (excluding .git)
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          source: "./*"
          target: "/home/${{ secrets.EC2_USER }}/mywebsite"
          strip_components: 0

      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo mkdir -p /usr/share/nginx/html
            sudo rm -rf /usr/share/nginx/html/*
            sudo cp -r /home/${{ secrets.EC2_USER }}/mywebsite/* /usr/share/nginx/html/
            sudo systemctl restart nginx
